.DS_Store
.dart_tool/

.packages
.pub/

build/

.flutter-plugins
/pubspec.lock
/.flutter-plugins
/.packages
/.idea/libraries/Dart_Packages.xml
/.idea/libraries/Dart_SDK.xml
/.idea/libraries/Flutter_Plugins.xml
